// ----------------------------------------- GLOBAL VARIABLES
$c-text: #808080;
$size-text-std: 15px;
$size-text-head: 25px;
$size-text-subhead: 20px;
$radius: 5px;

// ----------------------------------------- MIXINS

// Center
@mixin center() {
  display: flex;
  justify-content: center;
  align-items: center;
}

// ----------------------------------------- PAGE SETUP
html,
body {
  width: 100%;
  height: fit-content;
  margin: 0;
  padding: 0;
}

body {
  color: $c-text;
  background: linear-gradient(
    -45deg,
    rgb(207, 247, 207),
    #feefca,
    #d5aee6,
    #a0e2d3,
    #85c7de
  );
  background-size: cover;
  animation: gradient 15s ease infinite;

  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  @font-face {
    src: url(https://use.typekit.net/aav7lhy.css);
    font-family: muli, sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  font-family: muli, sans-serif;
}

header {
  height: 8vh;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.6),
    rgba(255, 255, 255, 0.3)
  );
  @include center();
}

main {
  display: grid;
  grid-template-columns: 1fr;
  max-width: 1080px;
  min-height: 92vh;
  height: fit-content;
  width: 70%;
  margin: auto;
  padding-bottom: 20px;
}

//

.hidden {
  display: none;
}

.stories {
  margin-top: 20px;
  height: fit-content;
  width: 100%;
}

//  STORY

.story {
  border-radius: $radius;
  @include center();
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.6),
    rgba(255, 255, 255, 0.3)
  );
  margin: auto;
  margin-top: 20px;
  width: 90%;
  height: fit-content;
  display: grid;
  grid-template-columns: 1fr;
  padding-left: 20px;
  padding-right: 20px;

  .toggle {
    margin-top: 20px;
    height: fit-content;
    width: 100%;
    display: flex;
    flex-direction: column;
    @include center();
    input {
      border: none;
      outline: none;
      background: none;
      color: rgb(0, 123, 255);
      font-size: $size-text-std;
      width: 100%;
      height: fit-content;
    }
  }

  .thumbnail {
    margin-top: 20px;
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  img {
    width: 70%;
    height: auto;
    margin: auto;
    border-radius: $radius;
  }

  .title {
    width: 100%;
    height: fit-content;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: $size-text-head;
    font-weight: bold;
  }

  .preview {
    margin-top: 20px;
    width: 100%;
  }
  .body {
    margin-top: 20px;
    height: fit-content;
    width: 100%;
  }

  .body hidden {
    display: none;
  }
}
